.aus-tabs a:focus {
	webkit-box-shadow: none;
	box-shadow: none;
}
.tab-content {
	display: none;
}
.tab-content.active {
	display: block;
}
.nav-tab {
	border: 1px solid #ccc;
}
.nav-tab-active, .nav-tab-active:hover {
	border-bottom: 1px solid #f1f1f1;
}
.radioimage li {
	float: left;
}
.radioimage label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.radioimage label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}