/**
 * Simple theme options page styles
 */

.aus-tabs a:focus {
	webkit-box-shadow: none;
	box-shadow: none;
}
.tab-content {
	display: none;
}
.tab-content.active {
	display: block;
}
.nav-tab {
	border: 1px solid #ccc;
}
.nav-tab-active, .nav-tab-active:hover {
	border-bottom: 1px solid #f1f1f1;
}

/**
 * Magnificent theme options page styles
 */

.aus-panel {
	max-width: 810px;
	width: 80%;
	margin: auto;
}
.aus-panel a:focus {
	webkit-box-shadow: none;
	box-shadow: none;
}
.aus-panel .submit {
	float: right;
	padding: 0;
	margin-right: 20px;
	margin-bottom: -30px;
}
.aus-panel-sidebar {
	margin: 0;
	padding: 0 0;
	float: left;
	width: 175px;
	background: #222;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.aus-panel-content {
	min-width: 300px;
	margin: 0 0 0 175px;
	padding: 0;
	background: #fff;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.aus-panel-logo {
	padding: 10px 0;
	text-align: center;
}
.aus-panel-nav,
.aus-panel-section {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.aus-panel-nav li {
	width: 176px;
	padding: 0;
	margin: 0;
}
.aus-panel-nav li a {
	position: relative;
	color: #bbb;
	text-decoration: none;
	line-height: 35px;
	padding: 0 10px;
	display: block;
	border-top: 1px solid #2E2D2D;
	border-bottom: 1px solid #0D0D0D;
}
.aus-panel-nav li a:hover {
	color: #ddd;
	background: #111;
}
.aus-panel-nav li a.active {
	color: #fff;
	background: #0074A2;
}

.aus-panel-nav li a.active:after {
	right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    top: 50%;
    margin-top: -8px;
}

.aus-panel-section > li {
	padding: 15px;
	display: none;
}
.aus-panel-section > li.active {
	display: block;
}
.aus-panel-section .form-table tr {
	border-top: 1px solid #EDECEC;
}
.aus-panel-section .form-table th {
	width: 150px;
}

.radioimage li {
	float: left;
}
.radioimage label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.radioimage label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}
.aus-panel .checkbox-label label {
	position: absolute !important;
    z-index: -1 !important;
    visibility: hidden !important;
}
.checkbox {
	background-position: 0px 100%;
	cursor: pointer;
    margin-top: 5px;
    background-image: url(../img/checkbox.png);
    height: 23px;
    width: 52px;
    display: block;
}
.checkbox.checked {
    background-position: 0px 0px;
}