/**
 * Simple theme options page styles
 */

.aus-tabs a:focus {
	webkit-box-shadow: none;
	box-shadow: none;
}
.tab-content {
	display: none;
}
.tab-content.active {
	display: block;
}
.nav-tab {
	border: 1px solid #ccc;
}
.nav-tab-active, .nav-tab-active:hover {
	border-bottom: 1px solid #f1f1f1;
}

/**
 * Magnificent theme options page styles
 */

.aus-panel {
	max-width: 810px;
	width: 80%;
	margin: auto;
	background: #fff;
	border: 1px solid #ddd;
}
.aus-panel a:focus {
	webkit-box-shadow: none;
	box-shadow: none;
}
.aus-panel .submit {
	float: right;
	padding: 0;
	margin-right: 20px;
	margin-bottom: -30px;
}
.aus-panel-sidebar {
	margin: 0;
	padding: 0 0;
	float: left;
	width: 175px;
	background: #fff;
	border-right: 1px solid #ddd;
}
.aus-panel-content {
	min-width: 300px;
	margin: 0 0 0 175px;
	padding: 0;
	border-left: 1px solid #ddd;
	background: #fff;
}
.aus-panel-logo {
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.aus-panel-nav,
.aus-panel-section {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.aus-panel-nav li {
	width: 176px;
	padding: 0;
	margin: 0;
}
.aus-panel-nav li a{
	text-decoration: none;
	line-height: 35px;
	padding: 0 10px;
	display: block;
	border-bottom: 1px solid #ddd;
}
.aus-panel-nav li a.active {
	background: #eee;
}
.aus-panel-section > li {
	padding: 15px;
	display: none;
}
.aus-panel-section > li.active {
	display: block;
}
.aus-panel-section .form-table tr {
	border-top: 1px solid #ddd;
}
.aus-panel-section .form-table th {
	width: 150px;
}


.radioimage li {
	float: left;
}
.radioimage label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.radioimage label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}